 .imag{
     background:url(../imgs/comida1.jpg)#2a2b2a;
     background-position: center
 }
/*de aqui la tablas*/
 form h1{
     text-align: center;
     color: #fff;
     font-weight: normal;
     font-size: 40pt;
     margin: 30px 0px;
      font-family: 'Pinyon Script', cursive;
    font-family: 'Pacifico', cursive;
 }
 header h1{
     text-align: center;
     color: #fff;
     font-weight: normal;
     font-size: 40pt;
     margin: 30px 0px;
 
 }
 
  form{
   width: 800px;
   border: 0px solid #4e4d4d;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   box-shadow: inset 0 0 10px #000;
    margin: 100px auto;
 }
 /*decorando la tabla*/
 .tabla{
     border: 0px solid;
     width: 800px;
     border-collapse: collapse;
     
 }
 .tabla td{
     text-align: center;
 }
 .tabla tr:hover{
     background-color: #e4b9c0;
 }
 /*botones*/
.boton{
     width: 100px;
     margin: 10px 0px 10px 10px;
     height: 50px;
    
   }
   